<!-- user_listing.html -->

{% load static %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ft_transcendence user connected</title>

    <!-- Favicon -->
    <link rel="icon" type="image/ico" href="{% static 'base/images/icons/pongIcon.ico' %}">
</head>

<body>
    <!-- ========== Welcome Text Section ========== -->
    <div class="welcome-text">
        <h1 data-lang-key="welcome_message">connected users</h1>
    </div>


    <div>
        <p id="user_connected"></p>
    </div>
    

    <!-- ========== JavaScript ========== -->
     <script>

        let socket = new WebSocket('ws://' + window.location.host + '/ws/user_connected/');
        let display = document.getElementById('user_connected');

        socket.onmessage = function(e) {
            let data = JSON.parse(e.data);
            let status = data['status']
            let user_list = data['user_list'];

            display.innerHTML = '';

            if (status === "succes"){
                console.log("succes")
                for (let userKey in user_list) {
                    if (user_list.hasOwnProperty(userKey)) {
                        let userData = user_list[userKey]; // e.g., 'Username:fgfdg, email:as@gmail.com, connected:False'
                        
                        let userElement = document.createElement('p');
                        userElement.textContent = userData;
                        display.appendChild(userElement);
                    }
                }
            }
            else if (status === "no data"){
                display.innerHTML = 'no connected user ...';
            }
        };

     </script>

</body>

</html>
