<!-- user_listing.html -->

{% load static %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ft_transcendence user list</title>

    <!-- Favicon -->
    <link rel="icon" type="image/ico" href="{% static 'base/images/icons/pongIcon.ico' %}">
</head>

<body>
    <!-- ========== Welcome Text Section ========== -->
    <div class="welcome-text">
        <h1 data-lang-key="welcome_message">User List Page</h1>
    </div>


    <!-- ========== JavaScript ========== -->
    <script type="module" src="{% static 'base/js/Screens/startScreen.js' %}" defer></script>

    
</body>

</html>
