<!-- user_info.html -->

{% load static %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ft_transcendence user info</title>

    <!-- Favicon -->
    <link rel="icon" type="image/ico" href="{% static 'base/images/icons/pongIcon.ico' %}">
</head>

<body>
    <!-- ========== Welcome Text Section ========== -->
    <div class="welcome-text">
        <h1 data-lang-key="welcome_message">User Info Page</h1>
    </div>

    <div>
        <form id="enter_username_form">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" value="insert username"><br>
            <button id="r_button" type="submit">Refresh data</button>
        </form>
    </div>
    <div>
        <p id="user_info"></p>
        <button id="loginbut">Log in</button>
        <button id="logoutbut">Log out</button>
        <button id="update">Update infos</button>
        <button id="delete">Delete your account</button>
    </div>
    <div>
        <p id="user_update_infos"></p>
        <button id="submit">Submit changes</button>
    </div>
    

    <!-- ========== JavaScript ========== -->
     <script>

        let socket = new WebSocket('ws://' + window.location.host + '/ws/user_info/');
        let display = document.getElementById('user_info');
        let form = document.getElementById('enter_username_form');
        let button = document.getElementById('r_button');

        button.onclick = function(e) {
            e.preventDefault();
            socket.send(JSON.stringify({
                action: 'get_info',
                username: form.username.value
            }));
        };

        socket.onopen = function(e) {
            socket.send(JSON.stringify({
                action: 'get_info',
                username: form.username.value
            }));
        };

        socket.onmessage = function(e) {
            let data = JSON.parse(e.data);
            let action = data['status'];
            let info = data['info'];

            let userData;
            if (action === "get_info"){
                userData = Object.values(info)[0];}
            else{
                userData = action;}
            console.log(userData);
            display.innerHTML = userData;
        };

        document.getElementById('loginbut').onclick = function() {
                socket.send(JSON.stringify({'action': 'log_in', 'username': form.username.value}));
        };

        document.getElementById('logoutbut').onclick = function() {
                socket.send(JSON.stringify({'action': 'log_out', 'username': form.username.value}));
        };

        document.getElementById('delete').onclick = function() {
                socket.send(JSON.stringify({'action': 'delete_user', 'username': form.username.value}));
        };

        document.getElementById('update').onclick = function() {
            let upsocket = new WebSocket('ws://' + window.location.host + '/ws/user_update/');

            upsocket.send(JSON.stringify({'action': 'get_info', 'username': form.username.value}));

            upsocket.onmessage = function(e) {
                let data = JSON.parse(e.data);
                let action = data['status'];
                let info = data['info'];
                if (action === "get_info"){
                    let userData = {
                        username: Object.values(info)[0][0],
                        first_name: Object.values(info)[0][1],
                        last_name: Object.values(info)[0][2],
                        email: Object.values(info)[0][3],
                        two_factor: Object.values(info)[0][4],
                    };
                    // Get the user_info div where the form will be displayed
                    let display_update = document.getElementById('user_update_infos');
                    // Create a new form element
                    let updateForm = document.createElement('form');
                    updateForm.id = 'update_user_form';
                    // Generate 5 input fields for the user data
                    let fields = ['username', 'first_name', 'last_name', 'email', 'two_factor'];
                    fields.forEach(function(field) {
                        // Create a label and input for each field
                        let label = document.createElement('label');
                        label.for = field;
                        label.innerHTML = field.replace('_', ' ').toUpperCase() + ": ";
                        let input = document.createElement('input');
                        input.type = 'text';
                        input.id = field;
                        input.name = field;
                        input.value = userData[field];  // Populate with data from backend
                        // Add label and input to the form
                        updateForm.appendChild(label);
                        updateForm.appendChild(input);
                        updateForm.appendChild(document.createElement('br')); // Line break
                    });
                    // Add a submit button to the form
                    let submitButton = document.createElement('button');
                    submitButton.type = 'submit';
                    submitButton.innerHTML = 'Submit Changes';
                    updateForm.appendChild(submitButton);
                    }
                else {console.log("other action in here");}
            };
        };




     </script>

</body>

</html>
