<!-- user_info.html -->

{% load static %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ft_transcendence user info</title>

    <!-- Favicon -->
    <link rel="icon" type="image/ico" href="{% static 'base/images/icons/pongIcon.ico' %}">
</head>

<body>
    <!-- ========== Welcome Text Section ========== -->
    <div class="welcome-text">
        <h1 data-lang-key="welcome_message">User Info Page</h1>
    </div>

    <div>
        <form id="enter_username_form">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username"><br>
            <button type="submit">Submit</button>
        </form>
    </div>
    <div>
        <p id="user_info"></p>
        <button id="loginbut">Log in</button>
        <button id="logoutbut">Log out</button>
        <button id="delete">Delete your account</button>
    </div>
    

    <!-- ========== JavaScript ========== -->
     <script>

        let socket = new WebSocket('ws://' + window.location.host + '/ws/user_info/');
        let display = document.getElementById('user_info');

        socket.onopen = function(e) {socket.send(JSON.stringify({action: 'get_info'}));};

        socket.onmessage = function(e) {
            let data = JSON.parse(e.data);
            let action = data['status'];
            let info = data['info'];

            let userData;
            if (action === "get_info"){
                userData = Object.values(info)[0];}
            else{
                userData = action;}
            console.log(userData);
            display.innerHTML = userData;
        };

        document.getElementById('loginbut').onclick = function() {
                socket.send(JSON.stringify({action: 'log_in', username: 'yo'}));
        };

        document.getElementById('logoutbut').onclick = function() {
                socket.send(JSON.stringify({action: 'log_out', username: 'yo'}));
        };

        document.getElementById('delete').onclick = function() {
                socket.send(JSON.stringify({action: 'delete_user', username: 'yo'}));
        };

     </script>

</body>

</html>
