/* frontend/srcs/css/gameScreen.css */

/* ========== Header Section ========== */
.game-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-title h1 {
    font-size: calc(4vw + 4vh);
    color: #a16935;
    text-align: center;
    margin: 0;
    font-weight: normal;
    margin-top: calc(2.5vw + 2vh);
}

.game-title h2 {
    font-size: calc(1vw + 2vh);
    color: #a16935;
    text-align: center;
    margin: 0;
    font-weight: normal; 
}

/* ========== Score Section ========== */
.score-section {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
}

.score-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Jersey';
}

.score {
    font-size: calc(3vw + 3vh);
    color: #ffcc00;
    margin: 0;
}

.username {
    font-size: calc(2vw + 2vh);
    color: #a16935;
    margin-top: calc(0vh);
}

.score-container.left {
    margin-left: calc(0vh);
}

.score-container.right {
    margin-right: calc(0vh);
}


/* ========== Game Section ========== */

.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: -28vh 0 0 0;
    padding: 0;
    box-sizing: border-box;
}

.countdown {
    position: absolute;
    top: calc(10vw + 15vh);
    left: 50%;
    transform: translateX(-50%);
    font-size: calc(3vw + 3vh);
    color: #ffcc00;
    z-index: 10;
    display: none;
}

/* ========== Icon Styles ========== */
.home-icon {
    position: absolute;
    top: calc(4vw + 6vh);
    left: calc(9vw + 5vh);
    font-size: calc(2vw + 2vh);
    color: #ffcc00;
    cursor: pointer;
    z-index: 10000;
}

/* ========== 404 error ========== */
.centered-div {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}

.centered-div h1 {
    color: orange;
    font-size: 5rem;
}


/* ========== Bootstrap form tournament ========== */

.game-title h2 {
    margin-top: calc(0.25vw + 0.25vh);
    margin-bottom: calc(1vw + 1vh);
}

/* Alignement des boutons et du champ de nombre de joueurs */
.input-group.mb-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: calc(20vw + 20vh);
    margin: 0 auto calc(0.25vw + 0.25vh);
}

/* Champ de nombre de joueurs avec marges latérales */
#playerCount {
    text-align: center;
    margin: 0 calc(0.25vw + 0.25vh);
    font-size: calc(1.15vw + 1.15vh);
    width: calc(1.5vw + 1vh);
    border-radius: 8px;
    background-color: #302a66;
    color: #a16935;
    border: none;
}

/* Style des boutons d'augmentation et de diminution */
#increasePlayers,
#decreasePlayers {
    font-size: calc(1vw + 1vh);
    width: calc(1vw + 1vh);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 calc(1vw + 1vh);
}

/* Champs des noms des joueurs */
#playerFields .form-control {
    text-align: center;
    padding: calc(0.1vw + 0.1vh) calc(0.25vw + 0.25vh);
    margin: 0;
    font-size: calc(0.8vw + 1vh);
    background-color: #302a66;
    color: #a16935;
    border: none;
    border-radius: calc(0.5vh + 0.5vw);

}

/* Style du texte des placeholders */
#playerFields .form-control::placeholder {
    color: rgb(110, 110, 110);
    opacity: 0.8;
}

.no-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
