@font-face {
    font-family: 'Jersey';
    src: url('../fonts/Jersey_10/Jersey10-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jersey', sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../images/backgroundEmpty.jpg') no-repeat center center fixed;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.menu-container {
    position: relative;
    height: 500px;
    width: 400px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    margin-top: 350px;
}

.menu-list {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-item {
    font-size: 40px;
    color: #a16935;
    text-align: center;
    position: relative; /* Pour positionner les triangles */
    padding: 10px 0;
    transition: color 0.3s ease, transform 0.3s ease;
}

.menu-item.selected {
    color: #ffcc00;
    font-weight: bold;
    transform: scale(1.1); /* Effet d'agrandissement */
}

/* Triangle à gauche de l'option sélectionnée */
.menu-item.selected::before {
    content: '';
    position: absolute;
    left: -35px; /* Ajuster pour bien positionner le triangle */
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #ffcc00; /* Triangle couleur orange */
    opacity: 1;
    transition: opacity 0.3s ease;
}

/* Triangle à droite de l'option sélectionnée */
.menu-item.selected::after {
    content: '';
    position: absolute;
    right: -35px; /* Ajuster pour bien positionner le triangle */
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #ffcc00; /* Triangle inversé couleur orange */
    opacity: 1;
    transition: opacity 0.3s ease;
}

.logout-link {
    position: absolute;
    top: 100px;
    left: 200px;
    
}

.profile-link {
    position: absolute;
    top: 100px;
    right: 200px;
}

.logout-link img, .profile-link img {
    width: 200px;
    height: 200px;
}

.start-game-text {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -10%);
    font-size: 200px;
    color: #a16935;
    text-align: center;
    z-index: 20;
}
