/* frontend/srcs/css/startGameModal.css */

/* ========== Font and Selection Styles ========== */

.start-game-modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 999;
	font-size: calc(2vw + 2vh);
	color: #a16935;
	font-family: 'Jersey', sans-serif;
	padding: 300px;
	/* box-sizing: border-box; */
}

.modal-content-game {
    background-color: #2f213a;
    border-radius: 10px;
    text-align: center;
    font-size: calc(2vw + 2vh);
    color: #a16935;
    font-family: 'Jersey', sans-serif;
    max-width: 80%;
    margin: auto;
    box-sizing: border-box;
}


.start-game-modal .modal-content-game p,
.start-game-modal .modal-content-game button {
    margin: 10px 0;
    padding: 20px;

}
