<!-- frontend/srcs/html/1Player2D.html -->

<div class="no-select">
    <!-- ========== Settings Button ========== -->
    <div id="settingsIcon" class="settings-icon">
        <i class="bi bi-gear-fill"></i>
    </div>

    <!-- ========== Home Button ========== -->
    <div id="homeIcon" class="home-icon">
        <i class="bi bi-house"></i>
    </div>

    <!-- ========== Settings Modal Container ========== -->
    <div class="settings-modal-container">
        <div id="settingsModal" class="settings-modal">
            <div class="settings-content">
                <!-- ========== Settings Header ========== -->
                <div class="settings-header">
                    <h2 data-lang-key="game_settings">Game Settings</h2>
                    <button id="resetSettings" class="reset-button">
                        <i class="bi bi-arrow-counterclockwise"></i>
                    </button>
                </div>

                <div class="wrapper">
                    <!-- ========== Slider for Bot Level ========== -->
                    <div class="slide-controls-bot-level">
                        <input type="radio" name="bot-level" id="novice" checked>
                        <input type="radio" name="bot-level" id="intermediate">
                        <input type="radio" name="bot-level" id="expert">
                        <label for="novice" data-lang-key="novice" class="slide">Novice</label>
                        <label for="intermediate" data-lang-key="intermediate" class="slide">Intermediate</label>
                        <label for="expert" data-lang-key="expert" class="slide">Expert</label>
                        <div class="slider-tab"></div>
                    </div>
                </div>

                <!-- ========== Slider for Ball Speed ========== -->
                <div class="slider-container">
                    <label for="ballSpeed" data-lang-key="ball_speed" class="slider-label">Ball Speed</label>
                    <div class="slider-wrapper">
                        <input type="range" id="ballSpeed" name="ballSpeed" min="3" max="7" value="5">
                        <span id="ballSpeedValue" class="slider-value">5</span>
                    </div>
                </div>

                <!-- ========== Slider for Paddle Speed ========== -->
                <div class="slider-container">
                    <label for="paddleSpeed" data-lang-key="paddle_speed" class="slider-label">Paddle Speed</label>
                    <div class="slider-wrapper">
                        <input type="range" id="paddleSpeed" name="paddleSpeed" min="1" max="5" value="3">
                        <span id="paddleSpeedValue" class="slider-value">3</span>
                    </div>
                </div>

                <!-- ========== Slider for Ball Size ========== -->
                <div class="slider-container">
                    <label for="ballSize" data-lang-key="ball_size" class="slider-label">Ball Size</label>
                    <div class="slider-wrapper">
                        <input type="range" id="ballSize" name="ballSize" min="1" max="5" value="3">
                        <span id="ballSizeValue" class="slider-value">3</span>
                    </div>
                </div>

                <!-- ========== Slider for Paddle Size ========== -->
                <div class="slider-container">
                    <label for="paddleSize" data-lang-key="paddle_size" class="slider-label">Paddle Size</label>
                    <div class="slider-wrapper">
                        <input type="range" id="paddleSize" name="paddleSize" min="1" max="5" value="3">
                        <span id="paddleSizeValue" class="slider-value">3</span>
                    </div>
                </div>

                <!-- ========== Slider for Points to Win ========== -->
                <div class="slider-container">
                    <label for="pointsToWin" data-lang-key="points_win" class="slider-label">Points to win</label>
                    <div class="slider-wrapper">
                        <input type="range" id="pointsToWin" name="pointsToWin" min="1" max="10" value="5">
                        <span id="pointsToWinValue" class="slider-value">5</span>
                    </div>
                </div>

                <!-- ========== Checkbox Options ========== -->
                <div class="checkbox-container">
                    <input type="checkbox" id="resetPaddlePosition" name="resetPaddlePosition">
                    <label data-lang-key="reset" for="resetPaddlePosition">Reset paddles after each point</label>
                </div>
                <div></div>

                <div class="checkbox-container">
                    <input type="checkbox" id="setPowerUps" name="setPowerUps">
                    <label data-lang-key="power_ups" for="setPowerUps">Activate Power-ups</label>
                </div>
                <div></div>

                <div class="checkbox-container">
                    <input type="checkbox" id="setRally" name="setRally">
                    <label data-lang-key="rally" for="setRally">Activate Rally</label>
                </div>
            </div>

            <!-- ========== Close Button ========== -->
            <button data-lang-key="close" id="closeSettings" class="btn btn-primary">Close</button>
        </div>
    </div>

    <!-- ========== Start Game Message Modal ========== -->
    <div id="startGameMessage2D" class="start-game-modal">
        <div class="modal-content">
            <p id="matchInfo"> <span id="player1Name"></span> vs <span id="player2Name"></span></p>
            <p data-lang-key="press_start">Press Space/Enter to begin the match</p>
        </div>
    </div>

    <!-- ========== Game Screen ========== -->
    <div class="game-screen">
        <!-- ========== Game Header ========== -->
        <div class="game-header">
            <div class="game-title">
                <h1>PONG</h1>
                <h2 data-lang-key="mode_1">1 Player mode</h2>
            </div>
        </div>
        <div></div>

        <!-- ========== Score Section ========== -->
        <section class="score-section">
            <div class="score-container left">
                <h2 id="player1Score2D" class="score">0 / 3</h2>
                <p class="username" id="playerName">Player 1</p>
            </div>
            <div class="score-container right">
                <h2 id="player2Score2D" class="score">0 / 3</h2>
                <p class="username" id="opponentName" data-lang-key="robot">Mr Robot</p>
            </div>
        </section>

        <!-- ========== Countdown Timer ========== -->
        <div id="countdown" class="countdown"></div>

        <!-- ========== Game Container ========== -->
        <section id="gameContainer" class="game-container">
            <canvas id="pongCanvas"></canvas>
            <div id="winMessage" class="win-message">
                <h1></h1>
            </div>
        </section>
    </div>

    <!-- ========== Win Message Modal ========== -->
    <div class="modal">
        <p class="message">
            <span data-lang-key="winner">Player ${winner} Wins!</span>
            <i class="bi bi-emoji-sunglasses"></i>
        </p>
        <div class="options">
            <button data-lang-key="home" id="homeButton" class="btn">Home</button>
            <button data-lang-key="play_again" id="againButton" class="btn">Play Again</button>
        </div>
    </div>

    <!-- ========== Win Message Modal for tournament ========== -->
    <div class="modal" id="winMsgModal" style="display: none;">
        <p class="message">
            <span id="winnerMessage" data-lang-key="winner">Congratulations, ${winnerName} win this match!</span>
            <i class="bi bi-emoji-sunglasses"></i>
        </p>
        <div class="options">
            <button id="nextMatchButton" class="btn btn-primary" data-lang-key="Start next match">Next Match</button>
        </div>
    </div>
    
    <!-- ========== End of Tournament Winner Modal ========== -->
    <div class="modal" id="endTournamentModal" style="display: none;">
        <p class="message">
            <span id="endTournamentMessage">Congratulations, <span id="championName"></span> is the Tournament Champion!</span>
            <i class="bi bi-emoji-sunglasses"></i>
            <br>
            <br>
            <span>Tournament is over</span>
        </p>
        <div class="options">
            <button id="homeButton" class="btn btn-primary">Go to Home</button>
        </div>
    </div>
    


</div>