<!-- frontend/srcs/html/2Players2D.html -->

<div class="no-select">
    <!-- ========== Settings Button ========== -->
    <div id="settingsIcon" class="settings-icon">
        <i class="bi bi-gear-fill"></i>
    </div>

    <!-- ========== Home Button ========== -->
    <div id="homeIcon" class="home-icon">
        <i class="bi bi-house"></i>
    </div>

    <!-- ========== Settings Modal ========== -->
    <div class="settings-modal-container">
        <div id="settingsModal" class="settings-modal">
            <div class="settings-content">
                <!-- ========== Modal Header with Title and Reset Button ========== -->
                <div class="settings-header">
                    <h2 data-lang-key="game_settings">Game Settings</h2>
                    <button id="resetSettings" class="reset-button">
                        <i class="bi bi-arrow-counterclockwise"></i>
                    </button>
                </div>

                <!-- ========== Game Settings Controls ========== -->
                <div class="wrapper">
                    <!-- Slider for Bot settings-modal-container: Novice / Intermediate / Expert -->
                    <div class="slide-controls-bot-level">
                        <input type="radio" name="bot-level" id="novice" checked>
                        <input type="radio" name="bot-level" id="intermediate">
                        <input type="radio" name="bot-level" id="expert">
                    </div>
                </div>

                <!-- Sliders for Game Settings -->
                <!-- Ball Speed Slider -->
                <div class="slider-container">
                    <label for="ballSpeed" data-lang-key="ball_speed" class="slider-label">Ball Speed</label>
                    <div class="slider-wrapper">
                        <input type="range" id="ballSpeed" name="ballSpeed" min="3" max="7" value="5">
                        <span id="ballSpeedValue" class="slider-value">5</span>
                    </div>
                </div>

                <!-- Paddle Speed Slider -->
                <div class="slider-container">
                    <label for="paddleSpeed" data-lang-key="paddle_speed" class="slider-label">Paddle Speed</label>
                    <div class="slider-wrapper">
                        <input type="range" id="paddleSpeed" name="paddleSpeed" min="1" max="5" value="3">
                        <span id="paddleSpeedValue" class="slider-value">3</span>
                    </div>
                </div>

                <!-- Ball Size Slider -->
                <div class="slider-container">
                    <label for="ballSize" data-lang-key="ball_size" class="slider-label">Ball Size</label>
                    <div class="slider-wrapper">
                        <input type="range" id="ballSize" name="ballSize" min="1" max="5" value="3">
                        <span id="ballSizeValue" class="slider-value">3</span>
                    </div>
                </div>

                <!-- Paddle Size Slider -->
                <div class="slider-container">
                    <label for="paddleSize" data-lang-key="paddle_size" class="slider-label">Paddle Size</label>
                    <div class="slider-wrapper">
                        <input type="range" id="paddleSize" name="paddleSize" min="1" max="5" value="3">
                        <span id="paddleSizeValue" class="slider-value">3</span>
                    </div>
                </div>

                <!-- Points to Win Slider -->
                <div class="slider-container">
                    <label for="pointsToWin" data-lang-key="points_win" class="slider-label">Point to win</label>
                    <div class="slider-wrapper">
                        <input type="range" id="pointsToWin" name="pointsToWin" min="1" max="10" value="5">
                        <span id="pointsToWinValue" class="slider-value">5</span>
                    </div>
                </div>

                <!-- ========== Checkbox Options ========== -->
                <div class="checkbox-container">
                    <input type="checkbox" id="resetPaddlePosition" name="resetPaddlePosition">
                    <label data-lang-key="reset" for="resetPaddlePosition">Reset paddles after each point</label>
                </div>
                <div></div>

                <div class="checkbox-container">
                    <input type="checkbox" id="setPowerUps" name="setPowerUps">
                    <label data-lang-key="power_ups" for="setPowerUps">Activate Power-ups</label>
                </div>
                <div></div>

                <div class="checkbox-container">
                    <input type="checkbox" id="setRally" name="setRally">
                    <label data-lang-key="rally" for="setRally">Activate Rally</label>
                </div>
            </div>

            <!-- Close Button for Settings Modal -->
            <button data-lang-key="close" id="closeSettings" class="btn btn-primary">Close</button>
        </div>
    </div>

    <!-- ========== Start Game Message Modal ========== -->
    <div id="startGameMessage2D" class="start-game-modal">
        <p data-lang-key="press_start">Press Space/Enter to begin the game</p>
    </div>

    <!-- ========== Game Screen Section ========== -->
    <div class="game-screen">
        <!-- Game Header -->
        <div class="game-header">
            <div class="game-title">
                <h1>PONG</h1>
                <h2 data-lang-key="mode_2">2 Players mode</h2>
            </div>
        </div>

        <!-- Score Section -->
        <section class="score-section">
            <div class="score-container left">
                <h2 id="player1Score2D" class="score">0 / 3</h2>
                <p class="username">Player 1</p>
            </div>
            <div class="score-container right">
                <h2 id="player2Score2D" class="score">0 / 3</h2>
                <p class="username">Player 2</p>
            </div>
        </section>

        <!-- Countdown Timer -->
        <div id="countdown" class="countdown"></div>

        <!-- Game Container with Canvas -->
        <section class="game-container">
            <canvas id="pongCanvas" width="850" height="450"></canvas>
            <div id="winMessage" class="win-message">
                <h1></h1>
            </div>
        </section>
    </div>

    <!-- ========== Winner Message Modal ========== -->
    <div class="modal">
        <p class="message">
            <span data-lang-key="winner"> Player ${winner} Wins! </span>
            <i class="bi bi-emoji-sunglasses"></i>
        </p>
        <div class="options">
            <button data-lang-key="home" id="homeButton" class="btn">Home</button>
            <button data-lang-key="play_again" id="againButton" class="btn">Play Again</button>
        </div>
    </div>
</div>