<!-- frontend/srcs/templates/startScreen.html -->

    <!-- ========== Welcome Text Section ========== -->
    <div class="welcome-text">
        <h1 data-lang-key="welcome_message">Welcome to our game!</h1>
    </div>

    <!-- ========== GIF Section ========== -->
    <div class="gif-container">
        <img src="../srcs/images/gif/pongGame.gif" alt="Pong Game Animation" class="pong-gif">
    </div>

    <!-- ========== Buttons for Login and Signup ========== -->
    <div class="button-container">
        <button data-lang-key="login" class="option-button" id="login-button" tabindex="0">Login</button>
        <button data-lang-key="signup" class="option-button" id="signup-button" tabindex="0">Sign Up</button>
    </div>

    <!-- ========== Language Selection Menu ========== -->
    <div class="language-menu" id="lang-switcher">
        <!-- Default Language Button (English) -->
        <button id="language-button" type="button" data-lang="en">
            <img src="./images/icons/usa.jpg" alt="English" class="flag-icon">
        </button>

        <!-- Dropdown Menu for Other Languages -->
        <ul id="language-dropdown" class="dropdown-menu">
            <li>
                <a href="#" data-lang="fr" class="dropdown-item">
                    <img src="./images/icons/franc.png" alt="Français" class="flag-icon">
                </a>
            </li>
            <li>
                <a href="#" data-lang="es" class="dropdown-item">
                    <img src="./images/icons/spain.png" alt="Español" class="flag-icon">
                </a>
            </li>
        </ul>
    </div>